@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a, a:hover{text-decoration: none;}

header {
    height: 60px;
    padding: 0 20px;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{}

header .logo a {
    display: block;
    font-size: 14px;
    color: #333;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    display: block;
    font-size: 14px;
    color: #777;
}

header nav ul li:hover a {
    color: #555;
}

header nav button {
    margin-left: 15px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    border-color: #08f;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s;
}

header nav button:hover {
    background-color: #06f;
}

.dart {
    position: fixed;
    top: 0; left: 0px;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.dark-active {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s
}

.popup {
    position: fixed;
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50px);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0);
}

.popup